<footer>
    <div class="moFooter">
        <a href="/"
            ><div class="flogo"><img src="../img/logo.png" class="flogo" style="width: 50px" /><br />FlowtoBeat</div></a
        >
        <div class="fCopy">&#169; 2024 F2B2. All Rights Reserved.</div>
        <div class="fTel">
            <div class="ftTit">고객센터 CodingOn &#40;발신자 부담&#41;</div>
            <div class="ftText">평일 09:00~14:00 &#47; 일요일, 공휴일 휴무</div>
        </div>
    </div>
    <div class="pcFooter">
        <div class="fLeft">
            <a href="/"
                ><div class="flogo">
                    <img src="../img/logo.png" class="flogo" style="width: 50px" /><br />FlowtoBeat
                </div></a
            >
            <div class="fTel">
                <div class="ftTit">고객센터 CodingOn</div>
                <div class="ftText">발신자 부담<br />평일 09:00~18:00<br />일요일, 공휴일 휴무</div>
            </div>
        </div>
        <div class="fRight">
            <div class="fText">
                <span>조장 정원영</span><span>팀원 박시영 이태근 성명규</span
                ><span>프로젝트 기간 2024.02.23 ~ 2024.03.11</span
                ><a href="https://github.com/jwy10/F2B2"><span>GitHub F2B2</span></a
                ><a
                    href="https://flawless-lawyer-d64.notion.site/F2B2-Team-Project-07b3201d44d2479fadf44fab1b8a44b6?pvs=4"
                    ><span>Notion F2B2</span></a
                ><span>호스팅 제공자 F2B2</span
                ><span>(본사) 서울시 마포구 숭문 4길 6, 지하 1층 포스코X코딩온 교육장</span>
                <span>Spotify API</span>
            </div>
            <div class="fMenu">
                <p>이용약관</p>
                <p class="tcbl">개인정보처리방침</p>
            </div>
            <div class="fCopy">&#169; 2024 F2B2. All Rights Reserved.</div>
        </div>
    </div>
</footer>

<link rel="stylesheet" href="" />
