<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <button type="button"><a href="/music/detail/힙합">힙합</a></button>
        <button type="button"><a href="/music/detail/발라드">발라드</a></button>
        <button type="button"><a href="/music/detail/메탈">메탈</a></button>
        <button type="button"><a href="/music/detail/댄스">댄스</a></button>
    </body>
</html>
